header {
  background-color: rgb(140, 140, 211);
}

 main h1{
  color: peru;
}

#summary ul{
  color: paleturquoise;
}

#career-objective p{
  text-align: center;
}

/* : indicates a psudoclass*/
main li:first-of-type{
  text-emphasis: filled;
}